{% style %}
  #{{ section.id }} {
    background: {{ section.settings.background_color }};
    font-size: 16px;
    padding-top: {{ section.settings.padding_top }}em;
    padding-bottom: {{ section.settings.padding_bottom }}em;
  }

  #{{ section.id }} .page-width {
    max-width: 650px;
    margin: 0 auto;
    width: 95%;
    padding: 0;
  }

  #{{ section.id }} h2,
  #{{ section.id }} p,
  #{{ section.id }} span {
    color: {{ section.settings.text_color }} !important;
  }

  #{{ section.id }} .c-section-top {
    display: flex;
    flex-direction: column;
    text-align: {{ section.settings.text_alignment }};
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    margin-bottom: 26px;
  }

  #{{ section.id }} .c-section-top h2 {
    font-size: 60px;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    margin: 0;
    line-height: 90%: 
  }

  #{{ section.id }} .c-section-top p {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    margin: 0;
  }

  #{{ section.id}} .c-collection-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 70px;
  }

  #{{ section.id }} .c-collection-item {
    max-width: 257px;
    width: 45%;
    text-align: center;
  }

  #{{ section.id }} .c-ci-image img {
    width: 100%;
    height: auto;
  }

  #{{ section.id }} .c-ci-title {
    margin: 9px 0 5px;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }

  #{{ section.id }} .c-ci-description {
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 0 18px;
  }

  #{{ section.id }} .c-b1 {
    background: #E9128A;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 20px;
    line-height: 40px;
    padding: 5px 28px;
    text-decoration: none;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all 0.4s ease-in;
  }

  #{{ section.id }} .c-b1:hover {
    background: #FE6BB2;
  }

  #{{ section.id }} .c-buttons-div {
    text-align: center;
    display: block;
  }
{% endstyle %}

<section id="{{ section.id }}" class="c-section">
  <div class="page-width">
    <div class="c-section-top">
      {%- if section.settings.section_top_heading != empty -%}
        <h2>{{ section.settings.section_top_heading }}</h2>
      {%- endif -%}
      {%- if section.settings.section_top_paragraph != empty -%}
        <div class="c-t-80">{{ section.settings.section_top_paragraph }}</div>
      {%- endif -%}
    </div>
    <div class="c-collection-box">
      {% for product in section.settings.featured_collection.products limit: 10 %}
        <div class="c-collection-item">
          <div class="c-ci-image">
            {% if product.featured_image %}
              {{ product.featured_image | image_url: width: 400 | image_tag: class: 'c-collection-image' }}
            {% else %}
              {{ product.images[0] | image_url: width: 400 | image_tag: class: 'c-collection-image' }}
            {% endif %}
          </div>
          <div class="c-ci-text">
            <h3 class="c-ci-title">{{ product.title }}</h3>
            <p class="c-ci-description">{{ product.description | strip_html }}</p>
            <div class="c-ci-price" >
              {{ product.price | money }}
            </div>
          </div>
          <a href="{{ product.url }}" class="c-b1">ADD TO CART</a>
        </div>
      {% endfor %}
    </div>
    {%- if section.settings.section_top_link != empty -%}
      <div class="c-buttons-div">
        <a href="{{ section.settings.section_top_link_url }}" class="c-b1">{{ section.settings.section_top_link }}</a>
      </div>
    {%- endif -%}
  </div>
</section>


{% schema %}
{
  "name": "C Featured Collection",
  "settings": [
    {
      "type": "text",
      "label": "Header",
      "id": "section_top_heading",
      "default": "Welcome to"
    },
    {
      "type": "text",
      "label": "description",
      "id": "section_top_paragraph",
      "default": "Customer Reviews"
    },
    {
      "type": "text",
      "label": "Link description",
      "id": "section_top_link"
    },
    {
      "type": "url",
      "label": "Link Url",
      "id": "section_top_link_url"
    },
    {
      "type": "color",
      "label": "Background Color",
      "id": "background_color",
      "default": "#f9f9f9"
    },
    {
      "type": "color",
      "label": "Text Color",
      "id": "text_color",
      "default": "#000000"
    },
    {
      "type": "select",
      "label": "Text Alignment",
      "id": "text_alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "label": "Section Top Alignment",
      "id": "section_top_alignment",
      "default": "center",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "padding_top",
      "default": 2,
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "rem"
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "padding_bottom",
      "default": 2,
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "rem"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Featured Collection"
    }
  ],
  "presets": [
    {
      "name": "C Featured Collection Slider",
      "category": "Card"
    }
  ]
}
{% endschema %}
