{%- assign button_blocks = section.blocks | where: 'type', 'Button' -%}

<style>
  #{{ section.id }} {
    font-size: 16px;
    padding-top: {{ section.settings.padding_top }}em;
    padding-bottom: {{ section.settings.padding_bottom }}em;
    {% if section.settings.image %}
      background: url("{{ section.settings.image | image_url }}") no-repeat center;
      background-size: contain;
      background-position: top;
    {% endif %}
    background-color: {{ section.settings.bg_color }} !important;
    {% if section.settings.height == true %}
      height: 85vh;
      display: flex;
      align-items: center;
    {% endif %}
  }

  #{{ section.id }} .page-width {
    position: relative;
    max-width: 1440px;
    display: flex;
    justify-content: {{ section.settings.section_top_alignment }};
  }

  #{{ section.id }} .c-section-top-subheading,
  #{{ section.id }} div,
  #{{ section.id }} h2,
  #{{ section.id }} h3 {
    color: {{ section.settings.text_color }};
  }

  #{{ section.id }} .c-section-top {
    text-align: {{ section.settings.text_alignment }};
    width: {{ section.settings.width_box }}%;
    margin: 0;
  }

  #{{ section.id }} h2 {
    font-family: "Barlow", sans-serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 90%;
    margin: 0 0 40px;
  }

  #{{ section.id }} p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    margin: 0 0 40px;
  }

  #{{ section.id }} .c-b1 {
    background: #E9128A;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 20px;
    line-height: 40px;
    padding: 5px 28px;
    text-decoration: none;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all 0.4s ease-in;
    display: inline-block;
  }

  #{{ section.id }} .c-b1:hover {
    background: #FE6BB2;
  }



  @media (max-width: 768px) {
    #{{ section.id }} {
      {% if section.settings.image_mobile %}
        background: url("{{ section.settings.image_mobile | image_url }}") no-repeat center;
        background-size: cover;
      {% else %}
        background-image: unset;
      {% endif %}
    }

    #{{ section.id }} .c-section-top {
      width: 100%;
    }

  }
</style>

<section id="{{ section.id }}" class="c-section">
  <div class="page-width">
    <div class="c-section-top">
      {%- if section.settings.section_top_heading != empty -%}
        <h2>{{ section.settings.section_top_heading -}}</h2>
      {%- endif -%}
      {%- if section.settings.section_top_paragraph != empty -%}
        <div class="c-t-80">{{ section.settings.section_top_paragraph }}</div>
      {%- endif -%}
      {% if section.settings.buton_text != empty %}
        <div class="c-buttons-div">
          <a href="{{ section.settings.button_url }}" class="{{ section.settings.button_class }}">{{ section.settings.button_text }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "C Rich Text",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "range",
      "id": "section_width",
      "label": "Desktop section width",
      "min": 20,
      "max": 100,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Background image mobile"
    },
    {
      "type": "range",
      "id": "width_box",
      "label": "Content width",
      "min": 50,
      "max": 100,
      "step": 1,
      "default": 100
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Section Top"
    },
    {
      "type": "text",
      "id": "section_top_heading",
      "label": "Heading",
      "default": "My heading"
    },
    {
      "type": "richtext",
      "id": "section_top_paragraph",
      "label": "Paragraph",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
    },
    {
      "type": "select",
      "id": "section_top_alignment",
      "label": "Section Top Alignment",
      "default": "center",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "text",
      "id": "button_class",
      "label": "Button Class"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 15,
      "step": 1,
      "default": 4,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 15,
      "step": 1,
      "default": 4,
      "unit": "rem"
    }
  ],
  "presets": [
    {
      "name": "C Rich Text"
    }
  ]
}
{% endschema %}
